.chat_all_body{
  background-color: #DB7093; /*濃いピンク*/
}

.chat_h1{
  color: #ADD8E6;
  text-align:center;
  background-color: #FFE4E1;
  font-family: "Yu Gothic";
  font-size: 45px;
  font-weight: 600;
}

.chat_body{
  background-color: #B3DDE6; /*地球背景の青*/
  font-family: "Yu Gothic";
}

.chat_form-control{
  width: 400%; 
  text-align: center;
  color: #808080;
  /*max-width: 80%;*/
  
}

.chat-container {
  margin-left: auto;
  margin-right: auto;
  font-family: "Yu Gothic";
  text-align: center;
  width: 70%;
  height: 70%;
  background-color: #B3DDE6; /*地球背景の青*/
}

.chat-card { /*一覧ボックスのサイズ*/
  height: 60vh;
  overflow: auto;
  background-color: #F0FFFF;　/*水色*/
}

button { 
  width: 100px;
}

.nyuuryokuandsoushin{
  margin-left: auto;
  margin-right: auto;
}

.chat-area {
  width: 85%;
  background-color: #B3DDE6; /*地球背景の青*/
}

.comment-container {
  bottom: 20px;
  margin: 0 auto;
  text-align: center;
  font-family: "Yu Gothic";
  background-color: #B3DDE6; /*地球背景の青*/
}

.comment-area {
  width: 50%;
  text-align: center;
}
.comment-btn {
  margin: 0px 10px;
}

.comment-body {
  padding: 5px 30px 20px 30px;
  color: #808080;
}

.comment-body:hover { /*マウスが指すコメントがハイライトされる*/
  background-color: #FFF0F5;
}

.comment-body-user {
  font-weight: bold;
  font-size: 20px;
  color: #808080;
  font-family: "Yu Gothic";
}

.comment-body-time {
  font-size: 10px;
  margin-top: 10px;
  margin-left: 5px;
  color: #808080;
  font-family: "Yu Gothic";
}

 .chat_back{
    text-align: center;
    font-size: 15px;
    font-family: "Yu Gothic";
    font-weight: bold;
    background-color: #B3DDE6; /*地球背景の青*/
 }
