.create_all_body {
   background-color: #DB7093; /*濃いピンク*/
 }
 
 .create_h1_title{
    color: #ADD8E6;
    text-align:center;
    background-color: #FFE4E1;
    font-family: "Yu Gothic";
    font-size: 50px;
    font-weight: 600;
}
 
.create{
   background-color: #B3DDE6;
   text-align:center;
}
    
.create_body {
   background-color: #B3DDE6; /*地球背景の青*/
   text-align:center;
 }
 
 .create_h2{    /*投稿内容の題名*/
    font-size: 30px;
    font-family: "Yu Gothic";
    font-weight: 500;
 }
 
 .create_h3{    /*投稿記入欄*/
    font-size: 20px;
    font-family: "Yu Gothic";
    font-weight: 500;
 }
 
 .create_h4{     /*投稿ボタン*/
    font-size: 20px;
    font-family: "Yu Gothic";
    font-weight: 500;
 }
 
 .create_category_form{
    margin: 0 auto !important;
    text-align: center !important;
    font-size: 20px;
 }
 
 .create_style{
    font-size: 30px;
    font-family: "Yu Gothic";
    text-align: center;
 }
 
 .create_category {
   color: #808080;
   font-family: "Yu Gothic";
 }
 
  /*.category_form{
    text-align: center;
    left:50%;
 }*/
 
 .create_title {
   color: #808080;
   font-family: "Yu Gothic";
 }
 
 .create_comment{
   color: #808080;
   font-family: "Yu Gothic";
 }
 
 .create_photo{
   font-size: 10px;
   color: #808080;
   font-family: "Yu Gothic";
   font-weight: 500;
 }
 
 .input_type{
    font-size: 30px; 
 }
 
 .create_back{
    font-size: 15px;
    font-family: "Yu Gothic";
 }
 
 