 .explanation_all_body {
   background-color: #DB7093; /*濃いピンク*/
   max-width: 80%;
   text-align: center;
   line-height: 2rem;
   margin: 0 auto;
 }
 
 .explanation_h1_title{
    text-align:center;
    color: #ADD8E6;
    background-color: #FFE4E1;
    font-family: "Yu Gothic";
    font-size: 45px;
    font-weight: 600;
 }
 
 .explanation_body {
   background-color: #B3DDE6; /*地球背景の青*/
 }
 
 .explanation_h2_title{
   font-size: 20px;
   font-weight: 600;
   color: #696969;
   font-family: "Yu Gothic";
 }
 
 explanation_h3{
   font-size: 15px;
   color: #808080;
   font-family: "Yu Gothic";
 }
 
  .Hikouki_img{
   width: 70px;
   height: 50px;
   text-align:center;
 }
 
 .explanation_back{
   font-size: 15px;
   font-family: "Yu Gothic";
   font-weight: bold;
   text-align: center;
   background-color: #B3DDE6; /*地球背景の青*/
 }
 


