.ichiran_all_body{
   background-color: #DB7093;
}

.ichiran_h1_title{
   text-align:center;
   color: #ADD8E6;
   background-color: #FFE4E1;
   font-family: "Yu Gothic";
   font-size: 50px;
   font-weight: 600;
}

.ichiran{
   background-color: #B3DDE6;
}

.ichiran_contents{
   background-color: #B3DDE6;
}

.toukousyamei{
   font-family: "Yu Gothic";
   color: #808080;
   background-color: #FFF0F5;
   color: #DB7093;
   font-weight: bold;
   
}

.ichiran_4_body{
   font-family: "Yu Gothic";
   color: #808080;
   background-color: #B3DDE6;
}

.ichiran_h2{
   font-weight: 600;
   background-color: #B3DDE6;
}

.ichiran_h2_comment{
   font-size: 20px;
   font-weight: 600;
   background-color: #B3DDE6;
}

.ichiran_p{
   background-color: #B3DDE6;
}

 .ichiran_back{
   text-align: center;
   font-size: 15px;
   font-weight: bold;
   font-family: "Yu Gothic";
   background-color: #B3DDE6;
 }