 .index_title_name{
    text-align:center;
    color: #FFFAFA;
 }
 
 h1{
  font-size: 60px;
 }
 
 .index_body {
   background-color: #B3DDE6;
 }
 
 .index_image{
   text-align:center;
 }
 
 .posts{
  text-align: center;
   color: #DC143C;
 }

