.index{
    background-color: #B3DDE6;  
}
    
 .index_title_name{
    text-align:center;
    color: #E0FFFF;
    background-color: #F5FFFA;
 }
 
 .index_h1{
   font-size: 60px;
   font-weight: 600;
   font-family: "Yu Gothic";
 }
 
 .index_h2{
   font-size: 40px;
   font-weight: 600;
   font-family: "Yu Gothic";
 }
 
 .index_all_body{
   background-color: #E0FFFF;
 }
 
 .index_title_name{
   background-color: #FFC0CB;
 }
 
 .index_body {
   background-color: #B3DDE6;
 }
 
 .index_image{
   text-align:center;
 }
 
 .posts{
  text-align: center;
  color: #DC143C;
 }
 
 .index_button{
   text-align: center;
   font-size: 30px;
   background-color: #FFE4E1;
   font-family: "Yu Gothic";
 }

 