/*.index{
    background-color: #B3DDE6;
    max-width: 80%;
    line-height: 2rem;
    margin: 0 auto;
}*/
    
 .index_title_name{
    text-align:center;
    color: #E0FFFF;
    background-color: #F5FFFA;
 }
 
 .index_h1{
   font-size: 45px;
   font-weight: 600;
   font-family: "Yu Gothic";
 }
 
 .index_h2{
   font-size: 40px;
   font-weight: 600;
   font-family: "Yu Gothic";
 }
 
 .index_all_body{
   /*background-color: #E0FFFF;*/
   background-color: #B3DDE6;
    max-width: 80%;
    line-height: 2rem;
    margin: 0 auto;
 }
 
 .index_title_name{
   background-color: #FFC0CB;
 }
 
 .index_body {
   background-color: #B3DDE6;
 }
 
 .index_image{
   text-align:center;
 }
 
 .index_img{
   width: 450px;
   height: 300px;
   text-align:center;
 }
 
 .posts{
  text-align: center;
  color: #DC143C;
 }
 
 .index_button{
   text-align: center;
   font-size: 15px;
   font-weight: bold;
   background-color: #FFE4E1;
   font-family: "Yu Gothic";
 }

 